<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>{{ titulo }} - Name</title>
    <!--Required tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>

  <!--JS scripts-->
  <link rel="stylesheet" type="src" href="{{ url_for('static', filename='js/bootstrap.min.js') }}">
</html>